/.env
/.git
/.gitattributes
/.github
/node_modules
/vendor
/storage/app/public
/storage/framework/cache/data
/storage/framework/testing
/storage/logs
/public/hot
/public/storage
/bootstrap/cache/*.php
docker-compose.yml
Dockerfile
*.md
.phpunit
.php_cs
.php_cs.dist
phpstan.neon
pint.json
rector.php
